html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, sans-serif;
	background: url('images/bookstore-background.jpg') no-repeat center center fixed;
	background-size: cover;
	color: #333;
    display: flex;
	flex-direction: column;
}

#header-placeholder, footer {
	width: 100%;
}

main {
	flex: 1;
	width: 100%;
	padding: 50px;
	padding-bottom: 0px;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
    margin-top: -20px;
}

.section-title {
	text-align: center;
	font-size: 1.8rem;
	margin-bottom: 20px;
	margin-top: 5px;
	color: #2c3e50;
	font-weight: bold;
}

.books-row {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	width: 100%;
	flex-grow: 1;
	box-sizing: border-box;
}

section {
	flex: 1;
	display: flex;
	flex-direction: column;
	width: 100%;
	box-sizing: border-box;
	background: rgba(255, 255, 255, 0.9);
	border-radius: 10px;
	box-shadow: 0 2px 5px rgba(0,0,0,0.1);
	margin-bottom: 40px;
	padding: 10px;
}

.book {
	background: rgba(255, 255, 255, 0.9);
	border-radius: 10px;
	box-shadow: 0 2px 5px rgba(0,0,0,0.2);
	width: 23%;
	display: flex;
	flex-grow: 1;
	flex-shrink: 1;
	align-items: flex-start;
	padding: 10px;
	box-sizing: border-box;
}

.book img {
	width: 40%;
	aspect-ratio: 90 / 130;
	min-width: 90px;
	height: auto;
	min-height: 130px;
	border-radius: 5px;
	margin-left: 10px;
	object-fit: cover;
}

.book-details {
	flex: 1;
	display: flex;
	flex-direction: column;
	height: 100%;
}

.book-details h3 {
	font-size: 1rem;
	margin: 5px 0;
}

.book-details p {
	font-size: 0.85rem;
	margin: 5px 0;
}

.book-details button {
	margin-top: auto;
	align-self: flex-end;
	background-color: #4caf50;
	color: white;
	border: none;
	padding: 6px 10px;
	border-radius: 5px;
	width: 100px;
	cursor: pointer;
	font-size: 0.85rem;
}

.book-details button:hover {
	background-color: #388e3c;
}

@media (max-width: 1190px) {
	.book {
		width: 45%;
	}
}

@media (max-width: 600px) {
	.book {
		width: 100%;
	}
}
